= render :partial => "side_bar"
.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        = @group.name if @group
      %a.chat-main__header--group-edit-btn edit
      .chat-main__header-members
        = "MEMBERS: #{ @group.users.map{ |user| user.name }}"
  %ul.chat-main__body
    = render partial: 'message', collection: @group.messages
  .chat-main__footer
    = form_for [@group, @message], html: { id: 'js-form' } do |f|
      = f.text_field :body, placeholder: 'type messages', class: 'chat-main__footer-form'
      = f.label 'image', { class: 'fa fa-image' } do
        = f.file_field :image, style: "display: none;", id: 'message_image'
      = f.submit('Send', class: 'submit-btn')
