= link_to group_messages_path(group.id) do
  .chat-side__groups-list
    .chat-side__group
      .chat-side__group-name
        = group.name
      .chat-side__group-message
        - if group.messages.empty?
          = 'まだメッセージはありません。'
        - elsif group.messages.last.body.present?
          = group.messages.last.body
        - else
          = '画像が投稿されています。'
