.chat-group-form
  %h1 新規チャットグループ
  - if @group.errors.any?
    .chat-group-form__errors
      %h2
        - @group.errors.full_messages.each do |msg|
          = msg

  = form_for @group, html: { id: 'new_chat_group', class: 'new_chat_group', "accept-charset" => "UTF-8" } do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'グループ名', class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, id: 'chat_group_name', class: 'chat-group-form__input', placeholder: 'グループ名を入力してください'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'チャットメンバーを追加', class: 'chat-group-form__label'
      .chat-group-form__field--right
        %input#user-search-field.chat-group-form__input{ placeholder: "追加したいユーザー名を入力してください"}
        .chat-group-form__search.clearfix
          %ul#user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'チャットメンバー', class: 'chat-group-form__label'
      .chat-group-form__field--right
        %ul#chat-group-users
          %li.chat-group-user.clearfix
            %input{ name: "group[user_ids][]", type: "hidden", value: "#{current_user.id}"}
            %p
              = current_user.name

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit('Submit', class: "chat-group-form__action-btn")
